body, html {
    color: brown;
    font-family: italic;
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
}

body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}

.center .profpic img {
 border-radius: 50%;
 width: 140px;
 height:140px;
 margin-top: 5%;
 object-fit: cover;
 object-position: 0, -8px;
}
