body, html {
    color: brown;
    font-family: italic;
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
}

body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}

.center .profpic img {
 border-radius: 50%;
 width: 140px;
 height:140px;
 margin-top: 5%;
 object-fit: cover;
 object-position: 0, -8px;
}

.center {
    width: 100%;
    background-color:rgb(129, 186, 186);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.content {
    padding: 30px;
}

.content h2, p {
 font-weight: lighter;
  width: 70%;
 margin: 10px auto;
}

.content h2 {
    font-weight: 400;
}

.content h3 {
    margin-top: 20px;
}

div.social em {
  padding: 0 10px;
  font-size: 30px;
  color: whitesmoke;
  transition: 0.4s;
}

div.social  em:hover {
 color: whitesmoke
}
