body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  text-align: center;
  /* background-color: antiquewhite; */
  background-color: rgb(224, 39, 70);
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  color: rgb(224, 39, 70);
  font-family: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center .profpic img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 5%;
  object-fit: cover;
  object-position: 0, -8px;
}

.center {
  /* width: 100%; */
  width: 2000px;
  background-color: black;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  margin-top:50px
}

/* button */
#project-portfolio {
  background-color: rgb(129, 186, 186);
  padding: 0 10px;
  font-size: 20px;
  color: whitesmoke;
  font-family: italic
}

.content {
  padding: 30px;
}

.content h2,
p {
  font-weight: lighter;
  width: 70%;
  margin: 10px auto;
}

.content h2 {
  font-weight: 400;
}

.content h3 {
  margin-top: 20px;
}

div.social em {
  padding: 0 10px;
  font-size: 20px;
  color: whitesmoke;
  transition: 0.4s;
}

div.social em:hover {
  color: whitesmoke
}


div#portfolio-div {
  background-color: powderblue;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.new-project-form {
  width: 100%;
  background-color: rgb(129, 186, 186);
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

/* for space between elements */
.spaceDefault {
  margin-bottom: 20px;
}

#submit-btn {
  background-color: brown;
  font-family: italic
}


/* Nav bar css */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: ff69b4;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  border-bottom: 2px solid black;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: whitesmoke;
  border-bottom: whitesmoke;
}

nav,
html {
  color: black;
}

/* projects css */
/* .project {
  width: 150%;
  background-color:rgb(129, 186, 186);
  height: 300%;
  text-align: center;
  border-radius: 5px;
} */

.projects {
  list-style: none;

}

.project {
  margin: 1rem;
  background-color:black;
  /* border-radius: 5px; */
  width:400px;
  margin:20px;
  border-radius: 20px;
}



.project img {
  width: 100%;
  /* width: 400px */
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
  }

  .project {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .project {
    width: calc(25% - 2rem);
  width:400px;
  border:1px solid lightgray;
  margin:20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow:0 5px 5px rgba(0,0,0,0.5)
  }
}

@media (min-width: 1200px) {
  .project {
    width: calc(20% - 2rem);
  }
}


#projects-heading {
  border-bottom: 2px solid black
}

#spaceDefault {
  margin-bottom: 20px
}

.topSpaceDefault {
  margin-top: 35px
}


/* about me */

.about-me-headers {
  margin-top: 55px;
  border-top:  2px solid black;
}

.social {
  display: inline-block;
  margin: 1rem 2rem;
}

.about-me, html {
  color: black;
}
.passionate-about, html {
  color: black;
}
.learning, html {
  color: black;
}

.main {
  width: "400%"

}
